package layouts

css body() {
	background: #1e1e1e;
	color: white;
}

templ Base() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Food</title>
			<link rel="stylesheet" href="https://unpkg.com/tailwindcss@3.4.14/src/css/preflight.css"/>
		</head>
		<body class={ body() }>
			{ children... }
		</body>
	</html>
}
